@model Global.YESR.Web.Areas.Members.ViewModels.ReferralBonusesViewModel

@{
	ViewBag.Link = "bonuses";
	ViewBag.Title = "Referral Bonuses";
}

@section breadcrumbs {
<section id="breadcrumbs">
	<ul>
		<li>@Html.ActionLink("home", "Index", "Home", new { area = "Members" }, null)</li>
		<li>referral bonuses</li>
	</ul>
</section>
}

@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				@Html.Action("MembershipDetail")
			</hgroup>
		</div>
	</section>
}

<table class='datagrid'>
	<tr>
		<th>Transaction Date</th>
		<th>Membership</th>
		<th>Purchase Amount</th>
		<th>Referral Bonus</th>
	</tr>        

		
	@if (Model.MaxPage > 1)
{
	<tr><td colspan='3' align='right'>
	@{
	ViewBag.LinkControl = "ReferralBonuses";
	ViewBag.LinkId = @Model.MembershipId;
	}

	@Html.Partial("_Pager")

		
	</td></tr>
}     
@foreach (var item in Model.Items)
{
	<tr>
		<td align='center'>@item.TransactionDate.ToString("dd MMM yyyy")</td>
		<td align='left'>@item.Membership.MembershipNumber</td>
		<td align='right'>@string.Format("{0:#,###,##0.00}", item.Purchase.Amount) @item.Currency.Symbol</td>
		<td align='right'>@string.Format("{0:#,###,##0.00}", item.Amount) @item.Currency.Symbol</td>
	</tr>        
}

</table>
