@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>@ViewBag.Title - YESR Merchants Area</title>
		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width" />
		@Styles.Render("~/Content/themes/base/css", "~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
	</head>
	<body>
	<div class="yesr-wrapper">
		<header>
			<div class="content-wrapper">
				<div class="float-left">
					<p class="site-title">@Html.ActionLink("yesr logo", "Index", "Home", new { area = "" }, null)</p>
				</div>
				<div class="float-right">
					<section id="login">
						@Html.Partial("_LoginPartial")
					</section>
					<nav>
						<ul id="menu">
							<li class='@(ViewBag.Link=="home" ? "active" :"")'>@Html.ActionLink("home", "Index", "Home", new { area = "Merchants" }, null)</li>
							<li class='@(ViewBag.Link=="enrollments" ? "active" :"")'>@Html.ActionLink("enrollments", "Enrollments", "Home", new { area = "Merchants" }, null)</li>
							<li class='@(ViewBag.Link=="discounts" ? "active" :"")'>@Html.ActionLink("discounts", "Discounts", "Home", new { area = "Merchants" }, null)</li>
							<li class='@(ViewBag.Link=="purchases" ? "active" :"")'>@Html.ActionLink("purchases", "Purchases", "Home", new { area = "Merchants" }, null)</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="body">
			@RenderSection("breadcrumbs", required: false)
			@RenderSection("featured", required: false)
			<section class="content-wrapper main-content clear-fix">
				@RenderBody()
			</section>
		</div>
		<footer>
			<div class="content-wrapper">
				<div class="float-left">
					<p>&copy; @DateTime.Now.Year - Merchants Area - YESR Group</p>
				</div>
				<div class="float-right">
					<ul id="social">
						<li><a href="http://facebook.com" class="facebook">Facebook</a></li>
						<li><a href="http://twitter.com" class="twitter">Twitter</a></li>
					</ul>
				</div>
			</div>
		</footer>
		</div>
	   @Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/jqueryui")
		@Scripts.Render("~/bundles/yesr")
		@RenderSection("scripts", false)
	</body>
</html>
