@model Global.YESR.Web.Areas.Sponsors.ViewModels.InvestmentUnitsViewModel

@{
    ViewBag.Link = "Bonds";
    ViewBag.Title = "Bonds";
}

@section breadcrumbs {
<section id="breadcrumbs">
    <ul>
        <li>@Html.ActionLink("home", "Index", "Home", new { area = "Sponsors" }, null)</li>
        <li>bonds</li>
    </ul>
</section>
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @Html.Action("SponsorDetail")
            </hgroup>
        </div>
    </section>
}

<article>
<table class='datagrid'>
    <tr>
        <th>Create Date</th>
        <th>Purchase Date</th>
        <th>Membership</th>
        <th>Amount</th>
        <th>Reference</th>
    </tr>        
	
	@if (Model.MaxPage > 1)
{
    <tr><td colspan='3' align='right'>
               <table class='controls'><tr>
			   <td>
					@if (Model.Page == 1)
					{ 
						<img class='first' src="~/Content/images/blank.png" alt=''/>
					}
					else
					{ 
						<a href="@Url.Action("Bonds", new { id = Model.SponsorId })"><img class='first' src='~/Content/images/blank.png'/></a>
                    }
				</td><td>
					@if (Model.Page == 1)
					{ 
						<img class='prev' src="~/Content/images/blank.png" alt=''/>
					}
					else
					{
						<a href="@Url.Action("Bonds", new { id = Model.SponsorId, page = Model.Page - 1 })"><img class='prev' src='~/Content/images/blank.png'/></a>
                    }
				</td><td class='pages'>
					Page @Model.Page of @Model.MaxPage
				</td><td>
					@if (Model.Page == Model.MaxPage)
					{ 
						<img class='next' src="~/Content/images/blank.png" alt=''/>
					}
					else
					{
						<a href="@Url.Action("Bonds", new { id = Model.SponsorId, page = Model.Page + 1 })"><img class='next' src='~/Content/images/blank.png'/></a>
                    }
				</td><td>
					@if (Model.Page == Model.MaxPage)
					{ 
						<img class='last' src="~/Content/images/blank.png" alt=''/>
					}
					else
					{
						<a href="@Url.Action("Bonds", new { id = Model.SponsorId, page = Model.MaxPage })"><img class='last' src='~/Content/images/blank.png'/></a>
                    }
				</td>
				</tr></table>

        
    </td></tr>
}
	      
@foreach (var item in Model.Items)
{
    <tr>
        <td align='center'>@item.CreateDate.ToString("dd MMM yyyy")</td>
        <td>@item.PurchaseDate.ToString("dd MMM yyyy")</td>
        <td>@item.Membership.MembershipNumber</td>
        <td>@string.Format("{0:#,###,##0.00}", item.Amount)</td>
        <td>@item.SponsorReference</td>
    </tr>        
}

</table>

</article>


<aside>
    <h3>Useful Links</h3>
    <ul>
        <li>@Html.ActionLink("View Member Benefits", "Benefits", "Home", new { area = "" }, null)</li>
        <li><a href="">Fill out an Online Enrollment Form</a></li>
        <li><a href="">Request a Personal Presentation</a></li>
        <li><a href="">Send us a Question</a></li>
    </ul>
    
</aside>

